In [14]:
import math

In [15]:
math.sqrt (25)

5.0

In [16]:
math.pi

3.141592653589793

In [2]:
import pandas
import numpy
import math
import scipy
import matplotlib

In [3]:
import random

In [37]:
pip freeze

alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
asn1crypto==1.0.1
astroid==2.3.1
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
comtypes==1.1.7
conda==4.7.12
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
distributed==2.5.2
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
fsspec==0.5.2
future==0.17.1
gevent==1.4.0
glob2==0.7
greenlet==0.4.15
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
llvmlite==0.29.0
locket==0.2.0
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.16.5
numpydoc==0.9.1
olefile==0.46
openpyxl==3.0.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
patsy==0.5.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
pluggy==0.13.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.3
py==1.8.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyreadline==2.1
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.0.3
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
requests==2.22.0
rope==0.14.0
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.9
statsmodels==0.10.1
sympy==1.4
tables==3.5.2
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
unicodecsv==0.14.1
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==1.3.0
zict==1.0.0
zipp==0.6.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
from numpy import random

In [5]:
import numpy as np

In [7]:
# uniform random numbers in [0,1]

In [8]:
dataOne = random.rand(5,5)

In [9]:
np.mean(dataOne)

0.483092632674316

In [10]:
dataOne

array([[0.40514316, 0.41494276, 0.47191767, 0.01465731, 0.11962684],
       [0.14028575, 0.582116  , 0.74835173, 0.91637698, 0.2541899 ],
       [0.49603097, 0.12886445, 0.0445816 , 0.82844454, 0.2484334 ],
       [0.44315598, 0.73405062, 0.39299544, 0.80112283, 0.96648201],
       [0.15850837, 0.71629815, 0.80581462, 0.4665819 , 0.77834283]])

In [11]:
np.average(dataOne), np.mean(dataOne), np.median(dataOne)

(0.483092632674316, 0.483092632674316, 0.4665818999457516)

In [12]:
np.min(dataOne)

0.014657308330293217

In [13]:
np.max(dataOne)

0.9664820147302641

In [14]:
# leasson learned 


#arguments needs to be ¨"coma" separated 
# Math and stats funtions are very intuitive, however finding a funtion to count instances has been challenging
# Python flags with an arrow where exactly is the error 
# instead of count use len(). This is a built-in function in python
# commands to be executed needs to be on the same line of code, not in a separate one 
# In machine learning, kernel methods are a class of algorithms for pattern analysis, whose best known member is the support vector machine (SVM)
# el contexto de una base de datos relacional, un registro (también llamado fila o tupla) representa un objeto único de datos implícitamente estructurados en una tabla
# List is a collection which is ordered and changeable. Allows duplicate members
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members
# Set is a collection which is unordered and unindexed. No duplicate members
# Dictionary is a collection which is unordered, changeable and indexed. No duplicate members

np.min(dataOne), np.max(dataOne), np.average(dataOne), np.sum(dataOne)

(0.014657308330293217,
 0.9664820147302641,
 0.483092632674316,
 12.077315816857901)

In [15]:
np.sum(dataOne)

12.077315816857901

In [16]:
len(dataOne)

5

In [42]:
variablename1 = 'I love data'
print (variablename1)

I love data

In [34]:
varOne = 25
VarTwo = 25.5

In [35]:
varthree = varOne + VarTwo 
print(varthree)

50.5

In [ ]:
variable1 = 25 
variable2 = 'Hola'

In [48]:
variable3 = variable1 + variable2
print(variable3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
listone = [1,2,3,4]
print(listone[1:3])

[2, 3]

In [11]:
print(listone[1:3])

[2, 3]

In [14]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [31]:
bandera = {1:'negro', 2:'rojo', 3:'azul', 4:'amarillo', 5:'blanco'}
bandera[3+1]

'amarillo'

In [30]:
bandera[-3+5]

'rojo'

In [58]:
bandera[3]+bandera[5]+bandera[2]+bandera[2]+bandera[5]+bandera[3]

'azulblancorojorojoblancoazul'

In [33]:
bandera[1] = "verde"
print (bandera)

{1: 'verde', 2: 'rojo', 3: 'azul', 4: 'amarillo', 5: 'blanco'}

In [46]:
banderalist = ["verde","rojo","azul","amarillo","blanco"]

In [52]:
for x in banderalist:
    print(x)

verde
rojo
azul
amarillo
blanco

In [55]:
print(len(bandera))

5

In [59]:
len(bandera)

5

In [2]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

In [3]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [5]:
2 + 2

4

In [6]:
50 - 5*6

20

In [7]:
(50 - 5*6) / 4

5.0

In [8]:
8 / 5  # division always returns a floating point number. 
# The integer numbers (e.g. 2, 4, 20) have type int, the ones with a fractional part (e.g. 5.0, 1.6) have type float

1.6

In [9]:
17/3

5.666666666666667

In [11]:
17//3

5

In [12]:
17 % 3

2

In [13]:
5 * 3 + 2

17

In [14]:
5 ** 2  # 5 squared
# Since ** has higher precedence than -, -3**2 will be interpreted as -(3**2) and thus result in -9
# To avoid this and get 9, you can use (-3)**2.

25

In [15]:
2 ** 7  # 2 to the power of 7

128

In [20]:
width = 20
height = 5 * 9
width * height

900

In [21]:
n

NameError: name 'n' is not defined

In [22]:
4 * 3.75 - 1

14.0

In [24]:
0.75*4

3.0

In [27]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [28]:
price + _ # stands for last operation. last printed expression is assigned to the variable _

113.0625

In [29]:
round(_, 2)

113.06

In [30]:
100.5+12.5625

113.0625

In [31]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [32]:
'Py' 'thon'

'Python'

In [33]:
'Py''thon'

'Python'

In [34]:
'Py'                'thon'

'Python'

In [44]:
text = ('Put several strings within parentheses' 
         'to have them joined together.')

In [36]:
text

'Put several strings within parentheses to have them joined together.'

In [42]:
'Put' 'several'

'Putseveral'

In [45]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-45-20527b549823>, line 2)

In [46]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-46-f4764cbe42a8>, line 1)

In [60]:
'Py' + 'thon'

'Python'

In [1]:
word = 'Python'
word[0]  # character in position 0

'P'

In [2]:
word[5]  # character in position 5

'n'

In [3]:
word[-1]  # last character

'n'

In [4]:
word[-2]  # second-last character

'o'

In [5]:
word[-6]

'P'

In [6]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [7]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [8]:
word[:2] + word[2:]

'Python'

In [9]:
word[:4] + word[4:] # Slices

'Python'

In [11]:
word[:4]

'Pyth'

In [12]:
word[4:]

'on'

In [13]:
# Remember how slices work
+---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

SyntaxError: invalid syntax (<ipython-input-13-3190b7c12ad5>, line 1)

In [14]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [15]:
word[4:42]

'on'

In [16]:
word[42:]

''

In [17]:
word[0] = 'J' # Python strings cannot be changed. Can't change the content

TypeError: 'str' object does not support item assignment

In [18]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [19]:
'J' + word[1:] # If you need a different string, you should create a new one

'Jython'

In [20]:
'J' + word[0:]

'JPython'

In [21]:
word[:2] + 'py'

'Pypy'

In [22]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [24]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [25]:
squares[0]  # indexing returns the item

1

In [26]:
squares[-1]

25

In [28]:
squares[-3:] # slicing returns a new list

[9, 16, 25]

In [29]:
squares[:]

[1, 4, 9, 16, 25]

In [30]:
squares + [36, 49, 64, 81, 100] # Lists support concatenation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
# Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [32]:
4 ** 3  # the cube of 4 is 64, not 65!

64

In [34]:
cubes[3] = 64  # replace the wrong valuecubes
cubes

[1, 8, 27, 64, 125]

In [35]:
cubes.append(216)  # add the cube of 6
cubes

[1, 8, 27, 64, 125, 216]

In [36]:
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [37]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [38]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [39]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [40]:
# clear the entire list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [41]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [4]:
# Nest lists
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [5]:
x[0]

['a', 'b', 'c']

In [6]:
x[0][1]

'b'

In [9]:
x[0][2]

'c'

In [10]:
x[1][0]

1

In [11]:
x[1][0] , x[0][2]

(1, 'c')

In [12]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [13]:
# < (less than)
# > (greater than)
# == (equal to)
# <= (less than or equal to)
# >= (greater than or equal to)
# != (not equal to)

In [14]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [15]:
a, b = 0, 1
while a < 1000:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [16]:
a, b = 0, 1
while a < 1000:
    print (a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [17]:
a, b = 0, 1
while a < 1000:
    print (a, end=' ')
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [18]:
a, b = 0, 1
while a < 1000:
    print (a, end='')
    a, b = b, a+b

01123581321345589144233377610987

In [66]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 0
Zero

In [68]:
 x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 1
Single

In [69]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 5
More

In [70]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [71]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

NameError: name 'users' is not defined

In [72]:
# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

NameError: name 'users' is not defined

In [73]:
for i in range(5):
    print(i)

0
1
2
3
4

In [74]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [79]:
for i in range(5, 10):
    print (i, end=' ')

5 6 7 8 9

In [80]:
for i in range(0, 10, 3):
    print (i, end=' ')

0 3 6 9

In [81]:
for i in range(-10, -100, -20):
    print (i, end=' ')

-10 -30 -50 -70 -90

In [82]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [83]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(range(10))

range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)

In [84]:
print(range(10))

range(0, 10)

In [85]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [86]:
list(range(4))

[0, 1, 2, 3]

In [87]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [19]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [20]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [21]:
fib

f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [22]:
fib(0)
print(fib(0))

None

In [23]:
# write a function that returns a list of the numbers of the Fibonacci series, instead of printing it
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [8]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [5]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [6]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [10]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

In [40]:
def parrot(voltage, state='a stiff', action='boom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [41]:
parrot(1000) # 1 positional argument

-- This parrot wouldn't boom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [42]:
parrot(voltage=1000) # 1 keyword argument

-- This parrot wouldn't boom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [43]:
parrot(action='BOOM', voltage=1000000) # 2 keyword arguments

-- This parrot wouldn't BOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [44]:
parrot(voltage=1000000, action='BOOM')  # 2 keyword arguments

-- This parrot wouldn't BOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [45]:
parrot('a thousand', state='pushing up the daisies') # 1 positional, 1 keyword

-- This parrot wouldn't boom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [46]:
parrot('a million', 'bereft of life', 'jump')  # 3 positional arguments

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [47]:
parrot('a million', 'jump', 'bereft of life') # 3 positional arguments

-- This parrot wouldn't bereft of life if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's jump !

In [49]:
parrot()                     # required argument missing

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [50]:
parrot(2.5)

-- This parrot wouldn't boom if you put 2.5 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [51]:
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-51-b18b24da62fc>, line 1)

In [52]:
parrot(voltage=5.0, state='dead')

-- This parrot wouldn't boom if you put 5.0 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's dead !

In [53]:
parrot(110, voltage=220)     # duplicate value for the same argument

TypeError: parrot() got multiple values for argument 'voltage'

In [54]:
parrot(220)

-- This parrot wouldn't boom if you put 220 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [55]:
parrot(actor='John Cleese')  # unknown keyword argument

TypeError: parrot() got an unexpected keyword argument 'actor'

In [68]:
parrot(21, type='John Cleese')

-- This parrot wouldn't boom if you put 21 volts through it.
-- Lovely plumage, the John Cleese
-- It's a stiff !

In [86]:
def parrot(voltage, state='a stiff', action='boom', type='Norwegian Blue', actor='John Cleese'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
    print("-- Accorfing to", actor ,"!")

In [88]:
parrot(700, actor='Jonas')

-- This parrot wouldn't boom if you put 700 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- Accorfing to Jonas !

In [89]:
def function(a):
    pass

function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [101]:
def function(a,b):
    print(a,b)
    pass


function(a=200, b=1)

200 1

In [108]:
# This defines the funtion

def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [110]:
# This calls the funtion 

cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [111]:
def standard_arg(arg):
    print(arg)

In [120]:
def pos_only_arg(arg):
    print(arg)

In [121]:
def kwd_only_arg(*, arg):
    print(arg)

In [123]:
def combined_example(pos_only, standard, *, kwd_only):
        print(pos_only, standard, kwd_only)

In [117]:
standard_arg(2)


standard_arg(arg=2)

2
2

In [131]:
pos_only_arg(1)


pos_only_arg(arg=1)

1
1

In [170]:
# No logre entender este, lo modifique de varias formas dandome otros errores
# luego de variops intentos lo pude resolver pero aun con errores 

kwd_only_arg(3) 

kwd_only_arg(arg=3) # kwd_only_arg() takes 0 positional arguments but 1 was given

kwd_only_arg(*, arg=3) # , invalid syntX

SyntaxError: invalid syntax (<ipython-input-170-cc3c94d64c53>, line 7)

In [171]:
kwd_only_arg(* arg=3)

SyntaxError: invalid syntax (<ipython-input-171-397904d2784c>, line 1)

In [183]:
kwd_only_arg(* arg(3))

TypeError: 'int' object is not callable

In [192]:
kwd_only_arg(* standard_arg(1+1)) # Me sigue dando error, kwd_only_arg() argument after * must be an iterable, not NoneType

2

TypeError: kwd_only_arg() argument after * must be an iterable, not NoneType

In [132]:
combined_example(1, 2, 3)

TypeError: combined_example() takes 2 positional arguments but 3 were given

In [134]:
combined_example(1, 2, kwd_only=3)

1 2 3

In [187]:
combined_example(1, standard=2, kwd_only=3)

1 2 3

In [188]:
combined_example(pos_only=1, standard=2, kwd_only=3)

1 2 3

In [195]:
# There is no possible call that will make it return True as the keyword 'name' will always to bind to the first parameter

def foo(name, **kwds):
    return 'name' in kwds

In [196]:
foo(1, **{'name': 2})

TypeError: foo() got multiple values for argument 'name'

In [18]:
def foo(name, /, **kwds):
    return 'name' in kwds
>>> foo(1, **{'name': 2})

SyntaxError: invalid syntax (<ipython-input-18-517b393e496f>, line 1)

In [209]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

SyntaxError: invalid syntax (<ipython-input-209-d398be9f5c1a>, line 1)

In [203]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [211]:
def concat(*args, sep="/"):
    return sep.join(args)
concat("earth", "mars", "venus")

'earth/mars/venus'

In [212]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [214]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [215]:
list(range(3, 6)) # normal call with separate arguments

[3, 4, 5]

In [216]:
args = [3, 6]
list(range(*args)) # call with arguments unpacked from a list

[3, 4, 5]

In [220]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

In [221]:
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [222]:
def make_incrementor(n):
    return lambda x: x + n

In [223]:
f = make_incrementor(42)
f(0)

42

In [224]:
f(42)

84

In [225]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [226]:
 def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

   No, really, it doesn't do anything.

In [227]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [229]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [230]:
fruits.count('tangerine')

0

In [231]:
fruits.index('banana')

3

In [232]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [233]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [234]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [237]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [238]:
fruits.pop()

'pear'

In [250]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [251]:
stack.pop()

7

In [252]:
stack

[3, 4, 5, 6]

In [253]:
stack.pop()

6

In [254]:
stack.pop()

5

In [255]:
stack

[3, 4]

In [1]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [2]:
queue.popleft()

'John'

In [3]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [4]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
squares = [x**2 for x in range(10)]

In [7]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [11]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [12]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [13]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [14]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [15]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [16]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [17]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-17-702d12ece8a4>, line 2)

In [19]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [21]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [22]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [23]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [24]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [25]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [26]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [27]:
del a[:]
a

[]

In [30]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [31]:
t

(12345, 54321, 'hello!')

In [32]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [33]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [34]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [35]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [36]:
len(singleton)

1

In [45]:
singleton

('hello',)

In [44]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'orange', 'banana', 'pear', 'apple'}

In [46]:
'orange' in basket                 # fast membership testing

True

In [47]:
'crabgrass' in basket

False

In [49]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a       # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [50]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [51]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [52]:
a & b                              # letters in both a and b

{'a', 'c'}

In [53]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [54]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [55]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [56]:
tel['jack']

4098

In [57]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [58]:
list(tel)

['jack', 'guido', 'irv']

In [59]:
sorted(tel)

['guido', 'irv', 'jack']

In [60]:
'guido' in tel

True

In [61]:
'jack' not in tel

False

In [62]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [63]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [64]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [66]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [65]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [1]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [2]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [3]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [4]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [5]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [6]:
# Importing a data set from csv file 

import pandas as pd

df = pd.read_csv (r'C:\Users\Milena\Documents\Big Data\Caso 12 - Develop models to predict sentiment\galaxy_smallmatrix_labeled_9d.csv')
print (df)

       iphone  samsunggalaxy  sonyxperia  nokialumina  htcphone  ios  \
0           1              0           0            0         0    0
1           1              0           0            0         0    0
2           1              1           0            0         0    0
3           0              0           0            0         1    0
4           1              0           0            0         0    0
...       ...            ...         ...          ...       ...  ...
12906       1              0           0            0         0    0
12907       1              0           0            0         0    0
12908       1              0           0            0         0    0
12909       1              0           0            0         0    0
12910       1              0           0            0         0    0

       googleandroid  iphonecampos  samsungcampos  sonycampos  ...  \
0                  0             0              0           0  ...
1                  0             0              0           0  ...
2                  0             1              1           0  ...
3                  0             0              0           0  ...
4                  0             0              0           0  ...
...              ...           ...            ...         ...  ...
12906              0             0              0           0  ...
12907              0             7              0           0  ...
12908              0             1              0           0  ...
12909              0             0              0           0  ...
12910              0             0              0           0  ...

       sonyperunc  nokiaperunc  htcperunc  iosperpos  googleperpos  iosperneg  \
0               0            0          0          0             0          0
1               0            0          0          0             0          0
2               0            0          0          0             0          0
3               0            0          1          0             0          0
4               0            0          0          0             0          0
...           ...          ...        ...        ...           ...        ...
12906           0            0          0          0             0          0
12907           0            0          0          0             0          0
12908           0            0          0          0             0          0
12909           0            0          0          0             0          0
12910           0            0          0          0             0          0

       googleperneg  iosperunc  googleperunc  galaxysentiment
0                 0          0             0                5
1                 0          0             0                3
2                 0          0             0                3
3                 0          0             0                0
4                 0          0             0                1
...             ...        ...           ...              ...
12906             0          0             0                5
12907             0          0             0                5
12908             0          0             0                4
12909             0          0             0                4
12910             0          0             0                5

[12911 rows x 59 columns]